<h1>Posts</h1>


<% for (var i = 0; i < posts.length; i++) { %>
<li> <%= posts[i].title %></li>
<% } %>
<p>=========</p>
<% posts.forEach(function(post) { %>
<li> <%= post.title %></li>
<% }) %>


<%=  %> Render to HTML
<%  %> Evaluates code but doesnt add anything to HTML